# Dependency directories
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/

# OS metadata
.DS_Store
**/Thumbs.db

# IDE metadata
.idea

# Environment local files
.env*.local
**/.env*.local